body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
/* Card container */
.card {
  max-width: 320px;
  height: fit-content;
  border-radius: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.082);
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content {
  text-align: center;
  gap: 0.5rem;
}
/* Card content */
img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.header {
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(218, 44%, 22%);
  margin-left: 1rem;
  margin-right: 1rem;
}
.subtext {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin-left: 20px;
  margin-right: 20px;
}
/* Attribution */
.attribution {
  font-size: 0.75rem;
  text-decoration: none;
  text-align: center;
  min-width: 320px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
footer {
  margin: 0;
}
@media only screen and (max-width: 375px) {
  body {
    min-width: 100vw;
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    /* overflow-x: hidden;
    max-width: 100%; */
  }
}
@media only screen and (max-width: 600px) {
  body {
    min-width: 100vw;
    min-height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    /* overflow-x: hidden;
    max-width: 100%; */
  }
}
